.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/Scouting/Scouting.iml

Scouting/src/main/java/ca/team2706/scouting/mcmergemanager/powerup2018/gui/PostGame.java